.skill-bar {
  background-color: #cbd5e1;
  border-radius: 5px;
  @keyframes bar {
    0% {
      width: 0;
    }
  }

  .skill-bar-in {
    transition: ease all 0.55s;
    height: 5px;
    position: relative;
    border-radius: 5px;
    animation: bar 0.8s ease-in-out var(--v);
    //min-width: 130px;

    span {
      position: absolute;
      right: 0;
      top: -30px;
      font-size: 14px;
    }
  }
}

.skill-cake {
  @keyframes line-right {
    0% {
      width: 100%;
    }
    100% {
      width: 0;
    }
  }

  @keyframes line-left {
    0% {
      width: 100%;
    }
    100% {
      width: 0;
    }
  }

  .tech-label {
    height: 20px;
    position: absolute;
    width: 100%;
    background: #eaedf2;

    &:before {
      content: '';
      position: absolute;
      width: 0;
      height: 100%;
      background: #eaedf2;
      z-index: 5;
    }

    .line-front, .line-back {
      height: 2px;
      background: black;
      position: absolute;
    }

    &.front-label {
      .line-front {
        width: 10%;
        bottom: 8px;
        left: 80px;
      }

      &:before {
        right: 0;
        animation: line-right 1s ease-in-out var(--v);
      }
    }

    &.back-label {
      right: 1.25rem;

      .line-front {
        width: 13%;
        top: 10px;
        right: 80px;
      }

      &:before {
        animation: line-left 1s ease-in-out var(--v);
      }
    }
  }
}
