$speed: 30s;

.techLogos, .toolLogos {
  position: relative;

  &.techLogos {
    .slider {
      animation: $speed slideToLeft infinite linear;
    }
  }

  &.toolLogos {
    .slider {
      animation: $speed slideToRight infinite linear;
    }
  }

  // Fade sections
  &:before, &:after {
    position: absolute;
    top: 0;
    width: 10%;
    height: 100%;
    content: '';
    z-index: 2;
  }

  &:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), black);
  }

  &:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), black);
  }
}

// Animations
@keyframes slideToLeft {
  from {
    transform: translatex(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slideToRight {
  from {
    transform: translatex(0);
  }
  to {
    transform: translateX(100%);
  }
}
