.skill-box {
  display: flex;
  justify-content: center;
  align-items: center;

  .svg-circle {
    @keyframes donut {
      0% {
        stroke-dasharray: 0, 100;
      }
    }

    position: absolute;
    transform: rotate(270deg);
    width: 75px;
    height: 75px;
    z-index: 10;

    .circle {
      animation: donut 2s ease-in-out var(--v);
    }
  }

  .skill {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
    transition: all 0.2s ease-in-out;
    background: #64748b;
    color: white;
    z-index: 1;

    .years {
      opacity: 0;
      position: absolute;
      color: white;
      transition: opacity 0.2s ease-in-out;
      cursor: default;

      h1 {
        line-height: 20px;
        font-size: 18px;
        font-weight: 700;
      }

      p {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }

  &:hover {
    .skill {
      background: darken(#64748b, 70%);
      color: darken(white, 70%);

      .years {
        opacity: 1;
      }
    }
  }
}
